<div id="datasetContainer">
  <app-dataset (datasetChange)="onDatasetChange($event)"></app-dataset>
</div>
<div class="container my-3 p-0">
  <div class="card">
    <ngx-datatable class="bootstrap" [rows]="rows" [columns]="columns" [columnMode]="'force'" [limit]="5" [rowHeight]="'auto'"
      [footerHeight]="40" [selectionType]="'single'" (select)="onRowSelected($event)"></ngx-datatable>
  </div>
  <div class="card mt-3">
    <div class="card-header">
      <h4 class="m-0">Simulation - Timeline</h4>
    </div>
    <div class="card-body">
      <google-chart #timelineChart [data]="timelineData"></google-chart>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header">
      <h4 class="m-0">Simulation - Communication</h4>
    </div>
    <div class="card-body">
      <div id="overallCommunicationRow" class="row no-gutters col-md-12">
        <div class="col-md-6 h-100">
          <chart class="h-100 row no-gutters" [options]="options.ocMessages" (load)="ocMessagesChart = $event.context"></chart>
        </div>
        <div class="col-md-6 h-100">
          <chart class="h-100 row no-gutters" [options]="options.ocPayloads" (load)="ocPayloadsChart = $event.context"></chart>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
