@import 'variables'; 
@import '../../node_modules/bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@import 'mixins';

* {
    border-color: $wgida-color-grey-2;
    @include font-source-sans($weight: 400);
}

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: $wgida-color-grey-0;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-source-sans-emph($weight: 500);
}
