$fa-font-path : '../../node_modules/font-awesome/fonts';
$wgida-color-grey-0: #f6f6f6;
$wgida-color-grey-1: #ededed;
$wgida-color-grey-2: #dadada;
$wgida-color-grey-3: #c6c6c6;
$wgida-color-grey-4: #b2b2b2;
$wgida-color-grey-5: #9d9d9c;
$wgida-color-grey-6: #878787;
$wgida-color-grey-7: #706f6f;
$wgida-color-grey-8: #575756;
$wgida-color-grey-9: #3c3c3b;
$wgida-color-500: #00BCD4;
$wgida-color-50: #E0F7FA;
$wgida-color-200: #80DEEA;
$wgida-color-900: #006064;
$wgida-color-a700: #6200EA;
$wgida-color-a900: #311B92;
$wgida-color-precision: #9575CD;
$wgida-color-recall: #4DD0E1;
$wgida-color-grad-low: #E57373;
$wgida-color-grad-middle: #FFF176;
$wgida-color-grad-high: #81C784;
$wgida-color-identify: #4DB6AC;
$wgida-color-freq-req: #9575CD;
$wgida-color-freq-rep: #AED581;
$wgida-color-verify: #4DD0E1;
$wgida-color-active-gi: #90A4AE;