@import 'variables';

div.container {
    position: relative;
}

div.card-body {
    position: relative;
}

#datasetContainer {
    position: sticky;
    top: 48px;
    z-index: 99998;
}

#prColumnChartRow {
    height: 400px;
}

#prColumnChartRow chart {
    & /deep/ .highcharts-color-0 {
        fill: $wgida-color-precision;
        stroke: $wgida-color-precision;
    }
    & /deep/ .highcharts-color-1 {
        fill: $wgida-color-recall;
        stroke: $wgida-color-recall;
    }
}

#disclaimerRow p {
    font-weight: 300;
}

.heatmap-container {
    height: 450px;
}

#overallCommunicationRow {
    height: 400px;
}

#overallCommunicationRow chart {
    & /deep/ .highcharts-color-0 {
        fill: $wgida-color-identify;
        stroke: $wgida-color-identify;
    }
    & /deep/ .highcharts-color-1 {
        fill: $wgida-color-freq-req;
        stroke: $wgida-color-freq-req;
    }
    & /deep/ .highcharts-color-2 {
        fill: $wgida-color-freq-rep;
        stroke: $wgida-color-freq-rep;
    }
    & /deep/ .highcharts-color-3 {
        fill: $wgida-color-verify;
        stroke: $wgida-color-verify;
    }
    & /deep/ .highcharts-color-4 {
        fill: $wgida-color-active-gi;
        stroke: $wgida-color-active-gi;
    }
}

.stacked-area-container {
    height: 1000px;
}
