@import 'variables';

div.container {
    position: relative;
}

div.card-body {
    position: relative;
}

#datasetContainer {
    position: sticky;
    top: 48px;
    z-index: 99998;
}

#prColumnChartRow {
    height: 400px;
}

#prColumnChartRow chart {
    & /deep/ .highcharts-color-0 {
        fill: $wgida-color-precision;
        stroke: $wgida-color-precision;
    }
    & /deep/ .highcharts-color-1 {
        fill: $wgida-color-recall;
        stroke: $wgida-color-recall;
    }
}

#disclaimerRow p {
    font-weight: 300;
}

.heatmap-container {
    height: 450px;
}

#overallCommunicationRow {
    height: 400px;
}
