@import 'variables';

div.container {
    position: relative;
    background: $wgida-color-grey-1;
    border-style: solid;
    border-width: 1px;
}

h1, h4 {
    line-height: 100%;
}

h6 {
    margin: 0;
    margin-bottom: 0.1rem;
}

button {
    color: white;
    background: $wgida-color-a700;
    border-color: $wgida-color-a700;
}

button:visited, button:focus, button:active {
    background: $wgida-color-a900;
    border-color: $wgida-color-a900;
}

:host /deep/ .wgida-select .selected-list .c-btn {
    box-shadow: none !important;
}

:host /deep/ .wgida-select .list-area {
    box-shadow: none !important;
}

:host /deep/ .wgida-select .c-token {
    background: $wgida-color-500 !important;
}

:host /deep/ .wgida-select .pure-checkbox label::before {
    border-color: $wgida-color-500 !important;
}

:host /deep/ .wgida-select .pure-checkbox input[type="checkbox"]:checked + label:before {
    background: $wgida-color-500 !important;
}
